.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.new-button {
  background-color: #0275d8;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 16px;
  right: 24px;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.new-button:hover {
  background-color: #025aa5;
}
